In [28]:
import pandas as pd
import numpy as np
import os

# Python_MySQL [mysql.connector]

In [13]:
import mysql.connector

conn=mysql.connector.connect(database='stock',host='10.120.14.28',user='db102stock',password = 'db102stock_pwd')

In [15]:
import mysql.connector

try:

    conn=mysql.connector.connect(database='stock',host='10.120.14.28',user='db102stock',password = 'db102stock_pwd')

    query = 'SELECT  * From stock'

    cursor = conn.cursor()  #一定要用變數來包含函式不然for迴圈的in抓不到

    cursor.execute(query)

    for ename,hiredate,salary in cursor:
        print('姓名:{},受雇日:{},受雇薪資:{},'.format(ename,hiredate,salary))

    print('total:',cursor.rowcount,'employee')

except mysql.connector.Error as err:
    print(err)

finally:
    if cursor:
        cursor.close()

    if conn:
        cursor.close()

1146 (42S02): Table 'stock.stock' doesn't exist

In [15]:
import mysql.connector

conn=mysql.connector.connect(database='db01',host='10.120.14.199',user='useruser',password = '1234')

In [25]:
import mysql.connector


try:
    conn=mysql.connector.connect(database='db01',host='10.120.14.199',user='useruser',password = '1234')

    query = 'SELECT ename,hiredate,salary From employee WHERE empno = %s'

    empno = 1000

    cursor = conn.cursor()  #一定要用變數來包含函式不然for迴圈的in抓不到

    cursor.execute(query,(empno,))

    emp = cursor.fetchone()

    if emp is not None:

        print(emp)
        print('姓名:{}; 受雇日:{}; 受雇薪資:{}'.format(emp[0],emp[1],emp[2]))
        print('total:', cursor.rowcount, 'employee')

    else:
        print('NO!')
        print('total:', cursor.rowcount, 'employee')

    #for emp in emps:
        #print('姓名:{}; 受雇日:{}; 受雇薪資:{}'.format(emp[0],emp[1],emp[2]))

    print('total:',cursor.rowcount,'employee')

except mysql.connector.Error as err:
    print(err)

finally:
    if cursor:
        cursor.close()

    if conn:
        cursor.close()

NO!
total: 0 employee
total: 0 employee

In [21]:
import mysql.connector

try:

    conn=mysql.connector.connect(database='db01',host='10.120.14.199',user='useruser',password = '1234')

    query = 'SELECT ename,hiredate,salary From employee'

    cursor = conn.cursor()  #一定要用變數來包含函式不然for迴圈的in抓不到

    cursor.execute(query)

    for ename,hiredate,salary in cursor:
        print('姓名:{},受雇日:{},受雇薪資:{},'.format(ename,hiredate,salary))

    print('total:',cursor.rowcount,'employee')

except mysql.connector.Error as err:
    print(err)

finally:
    if cursor:
        cursor.close()

    if conn:
        cursor.close()

姓名:潘麗珍,受雇日:2010-11-10,受雇薪資:60002,
姓名:林麗如,受雇日:2008-03-22,受雇薪資:34000,
姓名:林建生,受雇日:2011-08-14,受雇薪資:77000,
姓名:吳美芳,受雇日:2005-04-04,受雇薪資:67000,
姓名:王小麗,受雇日:2012-12-12,受雇薪資:37000,
姓名:胡志強,受雇日:2007-07-06,受雇薪資:44000,
姓名:何偉生,受雇日:2003-09-11,受雇薪資:39000,
姓名:林人生,受雇日:1999-05-16,受雇薪資:55000,
姓名:孫悟淨,受雇日:2019-04-24,受雇薪資:56000,
姓名:李大文,受雇日:2019-11-10,受雇薪資:89000,
姓名:潘麗珍,受雇日:2010-11-10,受雇薪資:60002,
姓名:林麗如,受雇日:2008-03-22,受雇薪資:34000,
姓名:林建生,受雇日:2011-08-14,受雇薪資:77000,
姓名:吳美芳,受雇日:2005-04-04,受雇薪資:67000,
姓名:王小麗,受雇日:2012-12-12,受雇薪資:37000,
total: 15 employee

# Python_Mongodb [Pymongo]

In [94]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient(host='10.120.14.199', port=27017,connect=False)

In [88]:
db=client['test']
food = db['food']

In [89]:
def connect(self, host, port):
        count = 0
        while True:
            self.client = MongoClient(host, port, serverSelectionTimeoutMS=3)
            try:
                self.client.admin.command("ping")
            except err_msg:
                log.error(err_msg)
                count = count + 1
            else:
                break
            if count == 3:
                return False
        return True

In [95]:
from pymongo.errors import ConnectionFailure
client = MongoClient()
try:
    # The ismaster command is cheap and does not require auth.
    client.admin.command('ismaster')
except ConnectionFailure:
    print("Server not available")

Server not available

In [96]:
client = pymongo.MongoClient(host='10.120.14.199', port=27017,connect=False)

query by pymongodb

In [97]:
food.find_one()

ServerSelectionTimeoutError: 10.120.14.199:27017: timed out

In [90]:
food.count()

C:\Users\Big data\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

KeyboardInterrupt:

In [ ]:
food.insert_one({'seafood':['fish','fishh']})

In [82]:
import pprint
for i in food.find():
    print(i)
    pprint.pprint(i)

{'_id': ObjectId('5d1ec7b9b7de45326fcb834f'), 'fruit': ['apple', 'banana']}
{'_id': ObjectId('5d1ec7b9b7de45326fcb834f'), 'fruit': ['apple', 'banana']}
{'_id': ObjectId('5d1ec7d5b7de45326fcb8350'), 'fruit': ['apple', 'orange', 'cherry']}
{'_id': ObjectId('5d1ec7d5b7de45326fcb8350'),
 'fruit': ['apple', 'orange', 'cherry']}
{'_id': ObjectId('5d1ec7deb7de45326fcb8351'), 'fruit': ['apple', 'cherry']}
{'_id': ObjectId('5d1ec7deb7de45326fcb8351'), 'fruit': ['apple', 'cherry']}
{'_id': ObjectId('5d2354d43ea5e9001b083115'), 'seafood': ['fish', 'fishh']}
{'_id': ObjectId('5d2354d43ea5e9001b083115'), 'seafood': ['fish', 'fishh']}

# ElasticSearch

## [method1] from elasticsearch import Elasticsearch  + from pandas.io.json import json_normalize

In [2]:
from elasticsearch import Elasticsearch
from elasticsearch import helpers

In [ ]:
'''from elasticsearch import Elasticsearch
es = Elasticsearch(hosts=[ELASTICSEARCH_IP]) # ELASTICSEARCH_IP is the ip of your Elasticsearch Server.
query_str = '{"query":{"range":{"event_data.UtcTime":{"gte":"2018-10-08", "lte":"2018-10-15"}}}}'
res = es.search(index=index_name, body=query_str, from_=0, size=10000) # DON'T SET SIZE=100000
print(res['hits']['hits'])'''

In [40]:
es = Elasticsearch(hosts=['http://192.168.220.128:9200'],timeout=600)

In [64]:
documents = es.search(index='business',body={})['hits']['hits']
documents

[{'_index': 'business',
  '_type': 'building',
  '_id': '110',
  '_score': 1.0,
  '_source': {'name': 'TIM', 'title': 'FAC', 'loaction': '1-1'}},
 {'_index': 'business',
  '_type': 'building',
  '_id': '123',
  '_score': 1.0,
  '_source': {'name': 'test', 'price': 1230.0}},
 {'_index': 'business',
  '_type': 'building',
  '_id': '111',
  '_score': 1.0,
  '_source': {'name': 'Ttt',
   'title': 'FAc',
   'loaction': '1-2',
   'remark': '01'}}]

In [49]:
doc=pd.DataFrame(documents)
doc

,_id,_index,_score,_source,_type
0,110,business,1.0,"{'name': 'TIM', 'title': 'FAC', 'loaction': '1...",building
1,123,business,1.0,"{'name': 'test', 'price': 1230.0}",building
2,111,business,1.0,"{'name': 'Ttt', 'title': 'FAc', 'loaction': '1...",building

In [61]:
from pandas.io.json import json_normalize
doc = json_normalize(documents)
doc

,_id,_index,_score,_source.loaction,_source.name,_source.price,_source.remark,_source.title,_type
0,110,business,1.0,1-1,TIM,NaN,NaN,FAC,building
1,123,business,1.0,NaN,test,1230.0,NaN,NaN,building
2,111,business,1.0,1-2,Ttt,NaN,01,FAc,building

In [71]:
from pandasticsearch import DataFrame
from pandasticsearch import Select
documents = es.search(index='business',body={})
doc = Select.from_dict(documents).to_pandas()
doc

   _id    _index  _score     _type loaction  name   price remark title
0  110  business     1.0  building      1-1   TIM     NaN    NaN   FAC
1  123  business     1.0  building      NaN  test  1230.0    NaN   NaN
2  111  business     1.0  building      1-2   Ttt     NaN     01   FAc

## [method2] pandasticsearch --連不到 [ELS版本要version7以上!?]

In [68]:
from pandasticsearch import DataFrame

In [86]:
df = DataFrame.from_es(url = 'http://192.168.220.128:9200',index='business')

In [98]:
from hdfs import *