In [1]:
import pandas as pd
import numpy as np
import os
from datetime import timedelta,time
from datetime import datetime as dt

In [2]:
dirname = 'E:/iii_PROJECT/UTIME_ML_PREDICT'

f_ct = os.path.join(dirname,'Summary.xlsx')

ct = pd.read_excel(f_ct)

In [3]:
ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97089 entries, 0 to 97088
Data columns (total 28 columns):
CSDP            97089 non-null int64
PNO             97089 non-null int64
CDATE           97089 non-null object
ITEM            97089 non-null int64
SEQNO           97089 non-null int64
SNO2            97089 non-null int64
SCRN            97089 non-null object
BDATE           97089 non-null object
EDATE           97076 non-null object
ORDERDR         97089 non-null object
MD_NO           97089 non-null int64
PP_NO           97089 non-null object
MODEL_NAME      97020 non-null object
STATION_NAME    97089 non-null object
PLACE           97089 non-null object
CASENO          97089 non-null int64
LINKNO          97089 non-null int64
AMOUNT          96749 non-null float64
NHI_COST        0 non-null float64
IO              97089 non-null object
DEPT            97087 non-null object
PRICE           0 non-null float64
UTIME           97089 non-null object
ITEM_CNT        97089 non-null int64
SEX             97089 non-null object
AGE             97089 non-null int64
POS             86232 non-null object
Tool            97089 non-null object
dtypes: float64(3), int64(10), object(15)
memory usage: 20.7+ MB

In [4]:
ct.columns

Index(['CSDP', 'PNO', 'CDATE', 'ITEM', 'SEQNO', 'SNO2', 'SCRN', 'BDATE',
       'EDATE', 'ORDERDR', 'MD_NO', 'PP_NO', 'MODEL_NAME', 'STATION_NAME',
       'PLACE', 'CASENO', 'LINKNO', 'AMOUNT', 'NHI_COST', 'IO', 'DEPT',
       'PRICE', 'UTIME', 'ITEM_CNT', 'SEX', 'AGE', 'POS', 'Tool'],
      dtype='object')

In [6]:
ct.head()

,CSDP,PNO,CDATE,ITEM,SEQNO,SNO2,SCRN,BDATE,EDATE,ORDERDR,...,NHI_COST,IO,DEPT,PRICE,UTIME,ITEM_CNT,SEX,AGE,POS,Tool
0,3580,29522338,2017/10/2 上午 12:00:00,70022,2060178785,1,2019/7/17 下午 02:42:56,2017/10/2 上午 08:29:00,2017/10/2 上午 08:44:26,176,...,NaN,O,76,NaN,2019/7/17 下午 02:42:56,1,F,52,NaN,B102378
1,3580,17656486,2017/10/2 上午 12:00:00,70018,2060178819,1,2019/7/17 下午 02:42:51,2017/10/2 上午 09:03:00,2017/10/2 上午 09:13:33,176,...,NaN,O,76,NaN,2019/7/17 下午 02:42:51,1,M,43,NaN,B102378
2,3580,35951053,2017/10/2 上午 12:00:00,79993,2060178851,1,2019/7/17 下午 02:42:54,2017/10/2 上午 09:30:00,2017/10/2 上午 09:59:21,6481,...,NaN,O,18,NaN,2019/7/17 下午 02:42:54,1,F,74,122,B102378
3,3580,3652066,2017/10/2 上午 12:00:00,79993,2060178855,1,2019/7/17 下午 02:42:39,2017/10/2 上午 09:34:00,2017/10/2 上午 10:18:21,5814,...,NaN,O,16,NaN,2019/7/17 下午 02:42:39,1,M,56,44,B102378
4,3580,6780233,2017/10/2 上午 12:00:00,79994,2060178878,1,2019/7/17 下午 02:42:39,2017/10/2 上午 09:47:00,2017/10/2 上午 10:01:39,5222,...,NaN,O,52,NaN,2019/7/17 下午 02:42:39,1,M,60,77,B102378

In [7]:
ct1=ct

In [8]:
ct1.head()

,CSDP,PNO,CDATE,ITEM,SEQNO,SNO2,SCRN,BDATE,EDATE,ORDERDR,...,NHI_COST,IO,DEPT,PRICE,UTIME,ITEM_CNT,SEX,AGE,POS,Tool
0,3580,29522338,2017/10/2 上午 12:00:00,70022,2060178785,1,2019/7/17 下午 02:42:56,2017/10/2 上午 08:29:00,2017/10/2 上午 08:44:26,176,...,NaN,O,76,NaN,2019/7/17 下午 02:42:56,1,F,52,NaN,B102378
1,3580,17656486,2017/10/2 上午 12:00:00,70018,2060178819,1,2019/7/17 下午 02:42:51,2017/10/2 上午 09:03:00,2017/10/2 上午 09:13:33,176,...,NaN,O,76,NaN,2019/7/17 下午 02:42:51,1,M,43,NaN,B102378
2,3580,35951053,2017/10/2 上午 12:00:00,79993,2060178851,1,2019/7/17 下午 02:42:54,2017/10/2 上午 09:30:00,2017/10/2 上午 09:59:21,6481,...,NaN,O,18,NaN,2019/7/17 下午 02:42:54,1,F,74,122,B102378
3,3580,3652066,2017/10/2 上午 12:00:00,79993,2060178855,1,2019/7/17 下午 02:42:39,2017/10/2 上午 09:34:00,2017/10/2 上午 10:18:21,5814,...,NaN,O,16,NaN,2019/7/17 下午 02:42:39,1,M,56,44,B102378
4,3580,6780233,2017/10/2 上午 12:00:00,79994,2060178878,1,2019/7/17 下午 02:42:39,2017/10/2 上午 09:47:00,2017/10/2 上午 10:01:39,5222,...,NaN,O,52,NaN,2019/7/17 下午 02:42:39,1,M,60,77,B102378

In [9]:
ct1['BDATE'] = ct1['BDATE'].str.replace('下午',' PM ')

In [10]:
ct1['BDATE'] = ct1['BDATE'].str.replace('上午',' AM ')

In [11]:
ct1['EDATE'] = ct1['EDATE'].str.replace('下午',' PM ')
ct1['EDATE'] = ct1['EDATE'].str.replace('上午',' AM ')

In [12]:
ct1['UTIME'] = ct1['UTIME'].str.replace('下午',' PM ')
ct1['UTIME'] = ct1['UTIME'].str.replace('上午',' AM ')

In [13]:
ct1['SCRN'] = ct1['SCRN'].str.replace('下午',' PM ')
ct1['SCRN'] = ct1['SCRN'].str.replace('上午',' AM ')

In [14]:
ct1['CDATE'] = ct1['CDATE'].str.replace('下午',' PM ')
ct1['CDATE'] = ct1['CDATE'].str.replace('上午',' AM ')

In [15]:
ct1['BDATE'] = pd.to_datetime(ct1['BDATE'],format='%Y/%m/%d %p %I:%M:%S')

In [16]:
ct1['EDATE'] = pd.to_datetime(ct1['EDATE'],format='%Y/%m/%d %p %I:%M:%S')

In [17]:
ct1['UTIME'] = pd.to_datetime(ct1['UTIME'],format='%Y/%m/%d %p %I:%M:%S')

In [18]:
ct1['SCRN'] = pd.to_datetime(ct1['SCRN'],format='%Y/%m/%d %p %I:%M:%S')

In [19]:
ct1['CDATE'] = pd.to_datetime(ct1['CDATE'],format='%Y/%m/%d %p %I:%M:%S')

In [20]:
ct1[ct1['BDATE']=='00:00:00']

Empty DataFrame
Columns: [CSDP, PNO, CDATE, ITEM, SEQNO, SNO2, SCRN, BDATE, EDATE, ORDERDR, MD_NO, PP_NO, MODEL_NAME, STATION_NAME, PLACE, CASENO, LINKNO, AMOUNT, NHI_COST, IO, DEPT, PRICE, UTIME, ITEM_CNT, SEX, AGE, POS, Tool]
Index: []

[0 rows x 28 columns]

In [21]:
ct1['Target_time'] = ct1['EDATE']-ct1['BDATE']

In [22]:
ct1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97089 entries, 0 to 97088
Data columns (total 29 columns):
CSDP            97089 non-null int64
PNO             97089 non-null int64
CDATE           97089 non-null datetime64[ns]
ITEM            97089 non-null int64
SEQNO           97089 non-null int64
SNO2            97089 non-null int64
SCRN            97089 non-null datetime64[ns]
BDATE           97089 non-null datetime64[ns]
EDATE           97076 non-null datetime64[ns]
ORDERDR         97089 non-null object
MD_NO           97089 non-null int64
PP_NO           97089 non-null object
MODEL_NAME      97020 non-null object
STATION_NAME    97089 non-null object
PLACE           97089 non-null object
CASENO          97089 non-null int64
LINKNO          97089 non-null int64
AMOUNT          96749 non-null float64
NHI_COST        0 non-null float64
IO              97089 non-null object
DEPT            97087 non-null object
PRICE           0 non-null float64
UTIME           97089 non-null datetime64[ns]
ITEM_CNT        97089 non-null int64
SEX             97089 non-null object
AGE             97089 non-null int64
POS             86232 non-null object
Tool            97089 non-null object
Target_time     97076 non-null timedelta64[ns]
dtypes: datetime64[ns](5), float64(3), int64(10), object(10), timedelta64[ns](1)
memory usage: 21.5+ MB

In [23]:
ct1.columns

Index(['CSDP', 'PNO', 'CDATE', 'ITEM', 'SEQNO', 'SNO2', 'SCRN', 'BDATE',
       'EDATE', 'ORDERDR', 'MD_NO', 'PP_NO', 'MODEL_NAME', 'STATION_NAME',
       'PLACE', 'CASENO', 'LINKNO', 'AMOUNT', 'NHI_COST', 'IO', 'DEPT',
       'PRICE', 'UTIME', 'ITEM_CNT', 'SEX', 'AGE', 'POS', 'Tool',
       'Target_time'],
      dtype='object')

In [26]:
ct1.to_csv('CT.Summary.csv',columns=['CSDP', 'PNO', 'CDATE', 'ITEM', 'SEQNO', 'SNO2', 'SCRN', 'BDATE',
       'EDATE', 'ORDERDR', 'MD_NO', 'PP_NO', 'MODEL_NAME', 'STATION_NAME',
       'PLACE', 'CASENO', 'LINKNO', 'AMOUNT', 'NHI_COST', 'IO', 'DEPT',
       'PRICE', 'UTIME', 'ITEM_CNT', 'SEX', 'AGE', 'POS', 'Tool',
       'Target_time'],index=False)

In [1]:
pwd

'C:\\Users\\Big data\\iii_report_HospitalStudy\\iii_project_ML_predict'

In [28]:
import mysql.connector

conn=mysql.connector.connect(database='db_test',host='10.120.14.100',user='root',password = 'ptQB,syG-6cg')

DatabaseError: 1130 (HY000): Host '10.120.14.23' is not allowed to connect to this MySQL server

In [31]:
from sqlalchemy import create_engine
#engine=create_engine('sqlite:///./cnblogblog.db',echo=True)
engine = create_engine('mysql+mysqlconnector://root:Lu,77251@10.120.14.100:3306/db_test')
engine

Engine(mysql+mysqlconnector://root:***@10.120.14.100:3306/db_test)

### LINUX指令來確認:
#### 確認root 底下的使用者: SELECT host FROM mysql.user WHERE User = 'root';
#### 新增使用者: CREATE USER 'root'@'10.120.14.23' IDENTIFIED BY 'Lu,77251';
#### 開通權限:  GRANT ALL PRIVILEGES ON *.* TO 'root'@'10.120.14.23';

# TEST1  DF直接寫入

In [32]:
try:
    df = ct1
    df.to_sql('test1',con=engine,if_exists='replace',index=False)
except Exception as e:
    print(e)

In [45]:
sql = 'select * from test1;'
df_test = pd.read_sql_query(sql,engine)
df_test

,CSDP,PNO,CDATE,ITEM,SEQNO,SNO2,SCRN,BDATE,EDATE,ORDERDR,...,IO,DEPT,PRICE,UTIME,ITEM_CNT,SEX,AGE,POS,Tool,Target_time
0,3580,29522338,2017-10-02,70022,2060178785,1,2019-07-17 14:42:56,2017-10-02 08:29:00,2017-10-02 08:44:26,176,...,O,76,None,2019-07-17 14:42:56,1,F,52,None,B102378,9.260000e+11
1,3580,17656486,2017-10-02,70018,2060178819,1,2019-07-17 14:42:51,2017-10-02 09:03:00,2017-10-02 09:13:33,176,...,O,76,None,2019-07-17 14:42:51,1,M,43,None,B102378,6.330000e+11
2,3580,35951053,2017-10-02,79993,2060178851,1,2019-07-17 14:42:54,2017-10-02 09:30:00,2017-10-02 09:59:21,6481,...,O,18,None,2019-07-17 14:42:54,1,F,74,122,B102378,1.761000e+12
3,3580,3652066,2017-10-02,79993,2060178855,1,2019-07-17 14:42:39,2017-10-02 09:34:00,2017-10-02 10:18:21,5814,...,O,16,None,2019-07-17 14:42:39,1,M,56,44,B102378,2.661000e+12
4,3580,6780233,2017-10-02,79994,2060178878,1,2019-07-17 14:42:39,2017-10-02 09:47:00,2017-10-02 10:01:39,5222,...,O,52,None,2019-07-17 14:42:39,1,M,60,77,B102378,8.790000e+11
5,3580,1728878,2017-10-02,79993,2060178906,1,2019-07-17 14:42:39,2017-10-02 09:52:00,2017-10-02 10:38:13,4375,...,O,50,None,2019-07-17 14:42:39,1,F,58,66,B102378,2.773000e+12
6,3580,7648863,2017-10-02,79993,2060178923,1,2019-07-17 14:42:56,2017-10-02 09:54:00,2017-10-02 10:44:46,4131,...,O,15,None,2019-07-17 14:42:56,1,F,51,21,B102378,3.046000e+12
7,3580,17175480,2017-10-02,79993,2060179006,1,2019-07-17 14:42:55,2017-10-02 10:48:00,2017-10-02 11:02:30,5185,...,I,13,None,2019-07-17 14:42:55,1,F,88,41,B102378,8.700000e+11
8,3580,22332654,2017-10-02,79993,2060179163,1,2019-07-17 14:42:43,2017-10-02 13:16:00,2017-10-02 13:56:49,6939,...,O,40,None,2019-07-17 14:42:43,1,F,37,55,B102378,2.449000e+12
9,3580,37147078,2017-10-02,79993,2060179176,1,2019-07-17 14:42:40,2017-10-02 13:18:00,2017-10-02 13:47:18,4375,...,O,50,None,2019-07-17 14:42:40,1,M,43,42,B102378,1.758000e+12
10,3580,21024981,2017-10-02,70008,2060179178,1,2019-07-17 14:42:40,2017-10-02 13:18:00,2017-10-02 14:20:05,6272,...,O,14,None,2019-07-17 14:42:40,1,M,82,None,B102378,3.725000e+12
11,3580,15157244,2017-10-02,79993,2060179229,1,2019-07-17 14:42:39,2017-10-02 14:05:00,2017-10-02 14:35:03,6253,...,I,18,None,2019-07-17 14:42:39,1,M,74,48,B102378,1.803000e+12
12,3580,23301630,2017-10-02,79993,2060179285,1,2019-07-17 14:43:01,2017-10-02 14:31:00,2017-10-02 15:19:46,6253,...,I,74,None,2019-07-17 14:43:01,1,F,21,55,B102378,2.926000e+12
13,3580,26972169,2017-10-02,79994,2060179298,1,2019-07-17 14:42:46,2017-10-02 14:34:00,2017-10-02 14:51:27,4965,...,O,53,None,2019-07-17 14:42:46,1,F,54,32,B102378,1.047000e+12
14,3580,39200447,2017-10-02,79993,2060179307,1,2019-07-17 14:42:44,2017-10-02 14:35:00,2017-10-02 15:00:57,5757,...,O,18,None,2019-07-17 14:42:44,1,M,65,14,B102378,1.557000e+12
15,3580,15073104,2017-10-02,79994,2060179346,1,2019-07-17 14:43:02,2017-10-02 14:42:00,2017-10-02 15:35:44,5896,...,O,18,None,2019-07-17 14:43:02,1,F,88,1,B102378,3.224000e+12
16,3580,353130,2017-10-02,79993,2060179377,1,2019-07-17 14:42:57,2017-10-02 15:00:00,2017-10-02 15:44:11,4340,...,O,55,None,2019-07-17 14:42:57,1,M,55,14,B102378,2.651000e+12
17,3580,6705400,2017-10-02,70022,2060179394,1,2019-07-17 14:42:55,2017-10-02 15:12:00,2017-10-02 15:27:21,276,...,O,76,None,2019-07-17 14:42:55,1,F,50,None,B102378,9.210000e+11
18,3580,6705400,2017-10-02,70018,2060179395,1,2019-07-17 14:42:55,2017-10-02 15:13:00,2017-10-02 15:32:56,276,...,O,76,None,2019-07-17 14:42:55,1,F,50,None,B102378,1.196000e+12
19,3580,32431734,2017-10-02,79994,2060179436,1,2019-07-17 14:42:59,2017-10-02 15:39:00,2017-10-02 15:56:40,4965,...,O,53,None,2019-07-17 14:42:59,1,F,37,34,B102378,1.060000e+12
20,3580,5468349,2017-10-03,70022,2060179705,1,2019-07-17 14:43:34,2017-10-03 08:14:00,2017-10-03 08:50:54,176,...,O,76,None,2019-07-17 14:43:34,1,F,50,None,B102378,2.214000e+12
21,3580,3467674,2017-10-03,70022,2060179727,1,2019-07-17 14:43:30,2017-10-03 08:41:00,2017-10-03 08:51:34,176,...,O,76,None,2019-07-17 14:43:30,1,M,41,None,B102378,6.340000e+11
22,3580,19287136,2017-10-03,70022,2060179741,1,2019-07-17 14:43:14,2017-10-03 08:53:00,2017-10-03 11:35:18,176,...,O,76,None,2019-07-17 14:43:14,1,F,45,None,B102378,9.738000e+12
23,3580,21444789,2017-10-03,70022,2060179748,1,2019-07-17 14:43:31,2017-10-03 09:03:00,2017-10-03 09:11:14,176,...,O,76,None,2019-07-17 14:43:31,1,F,43,None,B102378,4.940000e+11
24,3580,41782405,2017-10-03,70018,2060179766,1,2019-07-17 14:43:33,2017-10-03 09:09:00,2017-10-03 09:46:55,176,...,O,76,None,2019-07-17 14:43:33,1,F,64,None,B102378,2.275000e+12
25,3580,41782405,2017-10-03,70022,2060179767,1,2019-07-17 14:43:33,2017-10-03 09:10:00,2017-10-03 09:42:28,176,...,O,76,None,2019-07-17 14:43:33,1,F,64,None,B102378,1.948000e+12
26,3580,28284924,2017-10-03,70022,2060179782,1,2019-07-17 14:43:13,2017-10-03 09:20:00,2017-10-03 09:47:27,176,...,O,76,None,2019-07-17 14:43:13,1,F,49,None,B102378,1.647000e+12
27,3580,51390022,2017-10-03,70018,2060179791,1,2019-07-17 14:43:13,2017-10-03 09:23:00,2017-10-03 09:39:29,176,...,O,76,None,2019-07-17 14:43:13,1,F,60,None,B102378,9.890000e+11
28,3580,51390022,2017-10-03,70022,2060179792,1,2019-07-17 14:43:13,2017-10-03 09:24:00,2017-10-03 09:34:50,176,...,O,76,None,2019-07-17 14:43:13,1,F,60,None,B102378,6.500000e+11
29,3580,34880835,2017-10-03,79993,2060179823,1,2019-07-17 14:43:33,2017-10-03 09:45:00,2017-10-03 10:17:46,5904,...,O,13,None,2019-07-17 14:43:33,1,M,82,42,B102378,1.966000e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97059,1580,14993265,2019-06-28,79994,1080233805,1,2019-07-18 04:06:07,2019-06-28 15:45:00,2019-06-28 16:13:47,4004,...,O,15,None,2019-07-18 04:06:07,1,F,61,27,B103200,1.727000e+12
97060,1580,24877427,2019-06-28,79994,1080233863,1,2019-07-18 04:06:18,2019-06-28 16:23:00,2019-06-28 16:31:37,6428,...,O,15,None,2019-07-18 04:06:18,1,F,80,27,B103200,5.170000e+11
97061,1580,51949358,2019-06-28,79994,1080233869,1,2019-07-18 04:06:14,2019-06-28 16:25:00,2019-06-28 16:34:02,4954,...,O,53,None,2019-07-18 04:06:14,1,F,25,1,B103200,5.420000e+11
97062,1580,53019057,2019-06-29,79993,1080234228,1,2019-07-18 04:06:27,2019-06-29 08:33:00,2019-06-29 09:18:43,4909,...,O,68,None,2019-07-18 04:06:27,1,F,53,122,B103200,2.743000e+12
97063,1580,53103130,2019-06-29,79994,1080234257,1,2019-07-18 04:06:34,2019-06-29 08:49:00,2019-06-29 09:02:26,5811,...,I,16,None,2019-07-18 04:06:34,1,M,33,48,B103200,8.060000e+11
97064,1580,21273822,2019-06-29,79993,1080234264,1,2019-07-18 04:06:29,2019-06-29 08:53:00,2019-06-29 09:12:53,4927,...,O,50,None,2019-07-18 04:06:29,1,F,26,14,B103200,1.193000e+12
97065,1580,30546453,2019-06-29,79993,1080234269,1,2019-07-18 04:06:27,2019-06-29 08:54:00,2019-06-29 09:34:38,5821,...,O,12,None,2019-07-18 04:06:27,1,M,23,44,B103200,2.438000e+12
97066,1580,53442636,2019-06-29,79993,1080234271,1,2019-07-18 04:06:39,2019-06-29 08:55:00,2019-06-29 09:40:09,4640,...,O,71,None,2019-07-18 04:06:39,1,M,58,21,B103200,2.709000e+12
97067,1580,13490797,2019-06-29,79993,1080234309,1,2019-07-18 04:06:37,2019-06-29 09:13:00,2019-06-29 09:45:23,4072,...,O,13,None,2019-07-18 04:06:37,1,M,56,21,B103200,1.943000e+12
97068,1580,53271717,2019-06-29,79993,1080234345,1,2019-07-18 04:06:33,2019-06-29 09:29:00,2019-06-29 10:33:02,4173,...,O,13,None,2019-07-18 04:06:33,1,F,46,142,B103200,3.842000e+12
97069,1580,40943637,2019-06-29,79994,1080234396,1,2019-07-18 04:06:29,2019-06-29 09:48:00,2019-06-29 09:55:19,4004,...,O,15,None,2019-07-18 04:06:29,1,M,43,27,B103200,4.390000e+11
97070,1580,20688662,2019-06-29,79994,1080234398,1,2019-07-18 04:06:29,2019-06-29 09:50:00,2019-06-29 09:58:50,6231,...,O,15,None,2019-07-18 04:06:29,1,M,62,27,B103200,5.300000e+11
97071,1580,51989865,2019-06-29,79993,1080234400,1,2019-07-18 04:06:36,2019-06-29 09:51:00,2019-06-29 10:28:42,4307,...,I,56,None,2019-07-18 04:06:36,1,F,43,142,B103200,2.262000e+12
97072,1580,32688920,2019-06-29,79993,1080234415,1,2019-07-18 04:06:26,2019-06-29 09:58:00,2019-06-29 10:36:49,5966,...,O,12,None,2019-07-18 04:06:26,1,F,36,142,B103200,2.329000e+12
97073,1580,24998941,2019-06-29,79994,1080234418,1,2019-07-18 04:06:36,2019-06-29 09:58:00,2019-06-29 10:36:49,4128,...,O,21,None,2019-07-18 04:06:36,1,M,44,1,B103200,2.329000e+12
97074,1580,36104420,2019-06-29,79993,1080234427,1,2019-07-18 04:06:36,2019-06-29 10:05:00,2019-06-29 10:42:43,4639,...,O,71,None,2019-07-18 04:06:36,1,F,17,14,B103200,2.263000e+12
97075,1580,6815756,2019-06-29,79993,1080234471,1,2019-07-18 04:06:33,2019-06-29 10:20:00,2019-06-29 11:01:35,4307,...,O,56,None,2019-07-18 04:06:33,1,M,68,142,B103200,2.495000e+12
97076,1580,24033445,2019-06-29,79994,1080234493,1,2019-07-18 04:06:37,2019-06-29 10:25:00,2019-06-29 10:46:18,4135,...,O,21,None,2019-07-18 04:06:37,1,F,78,1,B103200,1.278000e+12
97077,1580,27999933,2019-06-29,79993,1080234526,1,2019-07-18 04:06:39,2019-06-29 10:35:00,2019-06-29 11:10:16,4616,...,O,71,None,2019-07-18 04:06:39,1,M,18,14,B103200,2.116000e+12
97078,1580,9109830,2019-06-29,79993,1080234582,1,2019-07-18 04:06:33,2019-06-29 11:00:00,2019-06-29 11:12:59,4004,...,O,15,None,2019-07-18 04:06:33,1,M,42,21,B103200,7.790000e+11
97079,1580,16504484,2019-06-29,79994,1080234600,1,2019-07-18 04:06:36,2019-06-29 11:06:00,2019-06-29 11:19:38,5077,...,O,20,None,2019-07-18 04:06:36,1,F,59,1,B103200,8.180000e+11
97080,1580,53056702,2019-06-29,79994,1080234638,1,2019-07-18 04:06:31,2019-06-29 11:27:00,2019-06-29 11:32:26,4004,...,O,15,None,2019-07-18 04:06:31,1,M,43,27,B103200,3.260000e+11
97081,1580,12088699,2019-06-29,79994,1080234639,1,2019-07-18 04:06:28,2019-06-29 11:27:00,2019-06-29 11:39:01,4128,...,O,21,None,2019-07-18 04:06:28,1,M,69,1,B103200,7.210000e+11
97082,1580,25867089,2019-06-29,79994,1080234644,1,2019-07-18 04:06:34,2019-06-29 11:30:00,2019-06-29 11:39:52,4009,...,O,15,None,2019-07-18 04:06:34,1,F,54,27,B103200,5.920000e+11
97083,1580,35602590,2019-06-29,70022,1080234658,1,2019-07-18 04:06:38,2019-06-29 11:39:00,2019-06-29 11:46:43,6231,...,O,15,None,2019-07-18 04:06:38,1,F,46,None,B103200,4.630000e+11
97084,1580,39525192,2019-06-29,79994,1080234673,1,2019-07-18 04:06:28,2019-06-29 11:47:00,2019-06-29 11:57:54,4355,...,O,53,None,2019-07-18 04:06:28,1,F,80,1,B103200,6.540000e+11
97085,1580,53029618,2019-06-29,79994,1080234678,1,2019-07-18 04:06:29,2019-06-29 11:50:00,2019-06-29 12:05:48,4009,...,O,15,None,2019-07-18 04:06:29,1,M,27,27,B103200,9.480000e+11
97086,1580,35368570,2019-06-29,79994,1080234685,1,2019-07-18 04:06:31,2019-06-29 11:56:00,2019-06-29 12:07:19,4355,...,O,53,None,2019-07-18 04:06:31,1,F,50,1,B103200,6.790000e+11
97087,1580,25531371,2019-06-29,79994,1080234698,1,2019-07-18 04:06:32,2019-06-29 12:00:00,2019-06-29 12:09:57,4600,...,O,71,None,2019-07-18 04:06:32,1,F,61,6,B103200,5.970000e+11
97088,1580,54904955,2019-06-29,77252,1080234946,1,2019-07-18 04:06:34,2019-06-29 19:15:00,2019-06-29 19:17:29,5352,...,E,1,None,2019-07-18 04:06:34,1,M,84,None,B103200,1.490000e+11

### [TEST1] df_test 和本機端的DF比較

In [46]:
df

,CSDP,PNO,CDATE,ITEM,SEQNO,SNO2,SCRN,BDATE,EDATE,ORDERDR,...,IO,DEPT,PRICE,UTIME,ITEM_CNT,SEX,AGE,POS,Tool,Target_time
0,3580,29522338,2017-10-02,70022,2060178785,1,2019-07-17 14:42:56,2017-10-02 08:29:00,2017-10-02 08:44:26,176,...,O,76,NaN,2019-07-17 14:42:56,1,F,52,NaN,B102378,00:15:26
1,3580,17656486,2017-10-02,70018,2060178819,1,2019-07-17 14:42:51,2017-10-02 09:03:00,2017-10-02 09:13:33,176,...,O,76,NaN,2019-07-17 14:42:51,1,M,43,NaN,B102378,00:10:33
2,3580,35951053,2017-10-02,79993,2060178851,1,2019-07-17 14:42:54,2017-10-02 09:30:00,2017-10-02 09:59:21,6481,...,O,18,NaN,2019-07-17 14:42:54,1,F,74,122,B102378,00:29:21
3,3580,3652066,2017-10-02,79993,2060178855,1,2019-07-17 14:42:39,2017-10-02 09:34:00,2017-10-02 10:18:21,5814,...,O,16,NaN,2019-07-17 14:42:39,1,M,56,44,B102378,00:44:21
4,3580,6780233,2017-10-02,79994,2060178878,1,2019-07-17 14:42:39,2017-10-02 09:47:00,2017-10-02 10:01:39,5222,...,O,52,NaN,2019-07-17 14:42:39,1,M,60,77,B102378,00:14:39
5,3580,1728878,2017-10-02,79993,2060178906,1,2019-07-17 14:42:39,2017-10-02 09:52:00,2017-10-02 10:38:13,4375,...,O,50,NaN,2019-07-17 14:42:39,1,F,58,66,B102378,00:46:13
6,3580,7648863,2017-10-02,79993,2060178923,1,2019-07-17 14:42:56,2017-10-02 09:54:00,2017-10-02 10:44:46,4131,...,O,15,NaN,2019-07-17 14:42:56,1,F,51,21,B102378,00:50:46
7,3580,17175480,2017-10-02,79993,2060179006,1,2019-07-17 14:42:55,2017-10-02 10:48:00,2017-10-02 11:02:30,5185,...,I,13,NaN,2019-07-17 14:42:55,1,F,88,41,B102378,00:14:30
8,3580,22332654,2017-10-02,79993,2060179163,1,2019-07-17 14:42:43,2017-10-02 13:16:00,2017-10-02 13:56:49,6939,...,O,40,NaN,2019-07-17 14:42:43,1,F,37,55,B102378,00:40:49
9,3580,37147078,2017-10-02,79993,2060179176,1,2019-07-17 14:42:40,2017-10-02 13:18:00,2017-10-02 13:47:18,4375,...,O,50,NaN,2019-07-17 14:42:40,1,M,43,42,B102378,00:29:18
10,3580,21024981,2017-10-02,70008,2060179178,1,2019-07-17 14:42:40,2017-10-02 13:18:00,2017-10-02 14:20:05,6272,...,O,14,NaN,2019-07-17 14:42:40,1,M,82,NaN,B102378,01:02:05
11,3580,15157244,2017-10-02,79993,2060179229,1,2019-07-17 14:42:39,2017-10-02 14:05:00,2017-10-02 14:35:03,6253,...,I,18,NaN,2019-07-17 14:42:39,1,M,74,48,B102378,00:30:03
12,3580,23301630,2017-10-02,79993,2060179285,1,2019-07-17 14:43:01,2017-10-02 14:31:00,2017-10-02 15:19:46,6253,...,I,74,NaN,2019-07-17 14:43:01,1,F,21,55,B102378,00:48:46
13,3580,26972169,2017-10-02,79994,2060179298,1,2019-07-17 14:42:46,2017-10-02 14:34:00,2017-10-02 14:51:27,4965,...,O,53,NaN,2019-07-17 14:42:46,1,F,54,32,B102378,00:17:27
14,3580,39200447,2017-10-02,79993,2060179307,1,2019-07-17 14:42:44,2017-10-02 14:35:00,2017-10-02 15:00:57,5757,...,O,18,NaN,2019-07-17 14:42:44,1,M,65,14,B102378,00:25:57
15,3580,15073104,2017-10-02,79994,2060179346,1,2019-07-17 14:43:02,2017-10-02 14:42:00,2017-10-02 15:35:44,5896,...,O,18,NaN,2019-07-17 14:43:02,1,F,88,1,B102378,00:53:44
16,3580,353130,2017-10-02,79993,2060179377,1,2019-07-17 14:42:57,2017-10-02 15:00:00,2017-10-02 15:44:11,4340,...,O,55,NaN,2019-07-17 14:42:57,1,M,55,14,B102378,00:44:11
17,3580,6705400,2017-10-02,70022,2060179394,1,2019-07-17 14:42:55,2017-10-02 15:12:00,2017-10-02 15:27:21,276,...,O,76,NaN,2019-07-17 14:42:55,1,F,50,NaN,B102378,00:15:21
18,3580,6705400,2017-10-02,70018,2060179395,1,2019-07-17 14:42:55,2017-10-02 15:13:00,2017-10-02 15:32:56,276,...,O,76,NaN,2019-07-17 14:42:55,1,F,50,NaN,B102378,00:19:56
19,3580,32431734,2017-10-02,79994,2060179436,1,2019-07-17 14:42:59,2017-10-02 15:39:00,2017-10-02 15:56:40,4965,...,O,53,NaN,2019-07-17 14:42:59,1,F,37,34,B102378,00:17:40
20,3580,5468349,2017-10-03,70022,2060179705,1,2019-07-17 14:43:34,2017-10-03 08:14:00,2017-10-03 08:50:54,176,...,O,76,NaN,2019-07-17 14:43:34,1,F,50,NaN,B102378,00:36:54
21,3580,3467674,2017-10-03,70022,2060179727,1,2019-07-17 14:43:30,2017-10-03 08:41:00,2017-10-03 08:51:34,176,...,O,76,NaN,2019-07-17 14:43:30,1,M,41,NaN,B102378,00:10:34
22,3580,19287136,2017-10-03,70022,2060179741,1,2019-07-17 14:43:14,2017-10-03 08:53:00,2017-10-03 11:35:18,176,...,O,76,NaN,2019-07-17 14:43:14,1,F,45,NaN,B102378,02:42:18
23,3580,21444789,2017-10-03,70022,2060179748,1,2019-07-17 14:43:31,2017-10-03 09:03:00,2017-10-03 09:11:14,176,...,O,76,NaN,2019-07-17 14:43:31,1,F,43,NaN,B102378,00:08:14
24,3580,41782405,2017-10-03,70018,2060179766,1,2019-07-17 14:43:33,2017-10-03 09:09:00,2017-10-03 09:46:55,176,...,O,76,NaN,2019-07-17 14:43:33,1,F,64,NaN,B102378,00:37:55
25,3580,41782405,2017-10-03,70022,2060179767,1,2019-07-17 14:43:33,2017-10-03 09:10:00,2017-10-03 09:42:28,176,...,O,76,NaN,2019-07-17 14:43:33,1,F,64,NaN,B102378,00:32:28
26,3580,28284924,2017-10-03,70022,2060179782,1,2019-07-17 14:43:13,2017-10-03 09:20:00,2017-10-03 09:47:27,176,...,O,76,NaN,2019-07-17 14:43:13,1,F,49,NaN,B102378,00:27:27
27,3580,51390022,2017-10-03,70018,2060179791,1,2019-07-17 14:43:13,2017-10-03 09:23:00,2017-10-03 09:39:29,176,...,O,76,NaN,2019-07-17 14:43:13,1,F,60,NaN,B102378,00:16:29
28,3580,51390022,2017-10-03,70022,2060179792,1,2019-07-17 14:43:13,2017-10-03 09:24:00,2017-10-03 09:34:50,176,...,O,76,NaN,2019-07-17 14:43:13,1,F,60,NaN,B102378,00:10:50
29,3580,34880835,2017-10-03,79993,2060179823,1,2019-07-17 14:43:33,2017-10-03 09:45:00,2017-10-03 10:17:46,5904,...,O,13,NaN,2019-07-17 14:43:33,1,M,82,42,B102378,00:32:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97059,1580,14993265,2019-06-28,79994,1080233805,1,2019-07-18 04:06:07,2019-06-28 15:45:00,2019-06-28 16:13:47,4004,...,O,15,NaN,2019-07-18 04:06:07,1,F,61,27,B103200,00:28:47
97060,1580,24877427,2019-06-28,79994,1080233863,1,2019-07-18 04:06:18,2019-06-28 16:23:00,2019-06-28 16:31:37,6428,...,O,15,NaN,2019-07-18 04:06:18,1,F,80,27,B103200,00:08:37
97061,1580,51949358,2019-06-28,79994,1080233869,1,2019-07-18 04:06:14,2019-06-28 16:25:00,2019-06-28 16:34:02,4954,...,O,53,NaN,2019-07-18 04:06:14,1,F,25,1,B103200,00:09:02
97062,1580,53019057,2019-06-29,79993,1080234228,1,2019-07-18 04:06:27,2019-06-29 08:33:00,2019-06-29 09:18:43,4909,...,O,68,NaN,2019-07-18 04:06:27,1,F,53,122,B103200,00:45:43
97063,1580,53103130,2019-06-29,79994,1080234257,1,2019-07-18 04:06:34,2019-06-29 08:49:00,2019-06-29 09:02:26,5811,...,I,16,NaN,2019-07-18 04:06:34,1,M,33,48,B103200,00:13:26
97064,1580,21273822,2019-06-29,79993,1080234264,1,2019-07-18 04:06:29,2019-06-29 08:53:00,2019-06-29 09:12:53,4927,...,O,50,NaN,2019-07-18 04:06:29,1,F,26,14,B103200,00:19:53
97065,1580,30546453,2019-06-29,79993,1080234269,1,2019-07-18 04:06:27,2019-06-29 08:54:00,2019-06-29 09:34:38,5821,...,O,12,NaN,2019-07-18 04:06:27,1,M,23,44,B103200,00:40:38
97066,1580,53442636,2019-06-29,79993,1080234271,1,2019-07-18 04:06:39,2019-06-29 08:55:00,2019-06-29 09:40:09,4640,...,O,71,NaN,2019-07-18 04:06:39,1,M,58,21,B103200,00:45:09
97067,1580,13490797,2019-06-29,79993,1080234309,1,2019-07-18 04:06:37,2019-06-29 09:13:00,2019-06-29 09:45:23,4072,...,O,13,NaN,2019-07-18 04:06:37,1,M,56,21,B103200,00:32:23
97068,1580,53271717,2019-06-29,79993,1080234345,1,2019-07-18 04:06:33,2019-06-29 09:29:00,2019-06-29 10:33:02,4173,...,O,13,NaN,2019-07-18 04:06:33,1,F,46,142,B103200,01:04:02
97069,1580,40943637,2019-06-29,79994,1080234396,1,2019-07-18 04:06:29,2019-06-29 09:48:00,2019-06-29 09:55:19,4004,...,O,15,NaN,2019-07-18 04:06:29,1,M,43,27,B103200,00:07:19
97070,1580,20688662,2019-06-29,79994,1080234398,1,2019-07-18 04:06:29,2019-06-29 09:50:00,2019-06-29 09:58:50,6231,...,O,15,NaN,2019-07-18 04:06:29,1,M,62,27,B103200,00:08:50
97071,1580,51989865,2019-06-29,79993,1080234400,1,2019-07-18 04:06:36,2019-06-29 09:51:00,2019-06-29 10:28:42,4307,...,I,56,NaN,2019-07-18 04:06:36,1,F,43,142,B103200,00:37:42
97072,1580,32688920,2019-06-29,79993,1080234415,1,2019-07-18 04:06:26,2019-06-29 09:58:00,2019-06-29 10:36:49,5966,...,O,12,NaN,2019-07-18 04:06:26,1,F,36,142,B103200,00:38:49
97073,1580,24998941,2019-06-29,79994,1080234418,1,2019-07-18 04:06:36,2019-06-29 09:58:00,2019-06-29 10:36:49,4128,...,O,21,NaN,2019-07-18 04:06:36,1,M,44,1,B103200,00:38:49
97074,1580,36104420,2019-06-29,79993,1080234427,1,2019-07-18 04:06:36,2019-06-29 10:05:00,2019-06-29 10:42:43,4639,...,O,71,NaN,2019-07-18 04:06:36,1,F,17,14,B103200,00:37:43
97075,1580,6815756,2019-06-29,79993,1080234471,1,2019-07-18 04:06:33,2019-06-29 10:20:00,2019-06-29 11:01:35,4307,...,O,56,NaN,2019-07-18 04:06:33,1,M,68,142,B103200,00:41:35
97076,1580,24033445,2019-06-29,79994,1080234493,1,2019-07-18 04:06:37,2019-06-29 10:25:00,2019-06-29 10:46:18,4135,...,O,21,NaN,2019-07-18 04:06:37,1,F,78,1,B103200,00:21:18
97077,1580,27999933,2019-06-29,79993,1080234526,1,2019-07-18 04:06:39,2019-06-29 10:35:00,2019-06-29 11:10:16,4616,...,O,71,NaN,2019-07-18 04:06:39,1,M,18,14,B103200,00:35:16
97078,1580,9109830,2019-06-29,79993,1080234582,1,2019-07-18 04:06:33,2019-06-29 11:00:00,2019-06-29 11:12:59,4004,...,O,15,NaN,2019-07-18 04:06:33,1,M,42,21,B103200,00:12:59
97079,1580,16504484,2019-06-29,79994,1080234600,1,2019-07-18 04:06:36,2019-06-29 11:06:00,2019-06-29 11:19:38,5077,...,O,20,NaN,2019-07-18 04:06:36,1,F,59,1,B103200,00:13:38
97080,1580,53056702,2019-06-29,79994,1080234638,1,2019-07-18 04:06:31,2019-06-29 11:27:00,2019-06-29 11:32:26,4004,...,O,15,NaN,2019-07-18 04:06:31,1,M,43,27,B103200,00:05:26
97081,1580,12088699,2019-06-29,79994,1080234639,1,2019-07-18 04:06:28,2019-06-29 11:27:00,2019-06-29 11:39:01,4128,...,O,21,NaN,2019-07-18 04:06:28,1,M,69,1,B103200,00:12:01
97082,1580,25867089,2019-06-29,79994,1080234644,1,2019-07-18 04:06:34,2019-06-29 11:30:00,2019-06-29 11:39:52,4009,...,O,15,NaN,2019-07-18 04:06:34,1,F,54,27,B103200,00:09:52
97083,1580,35602590,2019-06-29,70022,1080234658,1,2019-07-18 04:06:38,2019-06-29 11:39:00,2019-06-29 11:46:43,6231,...,O,15,NaN,2019-07-18 04:06:38,1,F,46,NaN,B103200,00:07:43
97084,1580,39525192,2019-06-29,79994,1080234673,1,2019-07-18 04:06:28,2019-06-29 11:47:00,2019-06-29 11:57:54,4355,...,O,53,NaN,2019-07-18 04:06:28,1,F,80,1,B103200,00:10:54
97085,1580,53029618,2019-06-29,79994,1080234678,1,2019-07-18 04:06:29,2019-06-29 11:50:00,2019-06-29 12:05:48,4009,...,O,15,NaN,2019-07-18 04:06:29,1,M,27,27,B103200,00:15:48
97086,1580,35368570,2019-06-29,79994,1080234685,1,2019-07-18 04:06:31,2019-06-29 11:56:00,2019-06-29 12:07:19,4355,...,O,53,NaN,2019-07-18 04:06:31,1,F,50,1,B103200,00:11:19
97087,1580,25531371,2019-06-29,79994,1080234698,1,2019-07-18 04:06:32,2019-06-29 12:00:00,2019-06-29 12:09:57,4600,...,O,71,NaN,2019-07-18 04:06:32,1,F,61,6,B103200,00:09:57
97088,1580,54904955,2019-06-29,77252,1080234946,1,2019-07-18 04:06:34,2019-06-29 19:15:00,2019-06-29 19:17:29,5352,...,E,1,NaN,2019-07-18 04:06:34,1,M,84,NaN,B103200,00:02:29

# TEST2 將CSV匯出在寫入

In [39]:
dirnname = 'E:/iii_PROJECT/UTIME_ML_PREDICT'
f_ct_csv = os.path.join(dirname,'CT_Summary.csv')
ct_csv = pd.read_csv(f_ct_csv)

C:\Users\Big data\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (9,20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
ct_csv.to_sql('CT_test',con=engine,if_exists='replace',index=False)
print('done')

done

In [43]:
sql = 'select * from CT_test WHERE AGE = 45;'
df_CT_test = pd.read_sql_query(sql,engine)
df_CT_test

,CSDP,PNO,CDATE,ITEM,SEQNO,SNO2,SCRN,BDATE,EDATE,ORDERDR,...,IO,DEPT,PRICE,UTIME,ITEM_CNT,SEX,AGE,POS,Tool,Target_time
0,3580,19287136,2017-10-03 00:00:00,70022,2060179741,1,2019-07-17 14:43:14,2017-10-03 08:53:00,2017-10-03 11:35:18,176,...,O,76,None,2019-07-17 14:43:14,1,F,45,None,B102378,0 days 02:42:18.000000000
1,3580,35937597,2017-10-03 00:00:00,70022,2060179851,1,2019-07-17 14:43:23,2017-10-03 10:01:00,2017-10-03 10:27:00,176,...,O,76,None,2019-07-17 14:43:23,1,M,45,None,B102378,0 days 00:26:00.000000000
2,3580,36384282,2017-10-05 00:00:00,79993,2060181104,1,2019-07-17 14:44:01,2017-10-05 12:58:00,2017-10-05 13:33:21,5953,...,O,26,None,2019-07-17 14:44:01,1,M,45,1,B102378,0 days 00:35:21.000000000
3,3580,35290788,2017-10-06 00:00:00,79994,2060181624,1,2019-07-17 14:44:14,2017-10-06 09:38:00,2017-10-06 10:24:02,5860,...,O,19,None,2019-07-17 14:44:14,1,M,45,27,B102378,0 days 00:46:02.000000000
4,3580,51755306,2017-10-09 00:00:00,79993,2060183270,1,2019-07-17 14:44:48,2017-10-09 13:02:00,2017-10-09 13:39:51,4296,...,O,56,None,2019-07-17 14:44:48,1,M,45,48,B102378,0 days 00:37:51.000000000
5,3580,30027299,2017-10-13 00:00:00,70008,2060185418,1,2019-07-17 14:46:09,2017-10-13 09:48:00,2017-10-13 10:29:00,5770,...,O,75,None,2019-07-17 14:46:09,1,M,45,None,B102378,0 days 00:41:00.000000000
6,3580,30027299,2017-10-13 00:00:00,70022,2060185423,1,2019-07-17 14:46:08,2017-10-13 09:50:00,2017-10-13 10:27:18,5770,...,O,75,None,2019-07-17 14:46:08,1,M,45,None,B102378,0 days 00:37:18.000000000
7,3580,19352413,2017-10-20 00:00:00,79993,2060189921,1,2019-07-17 14:47:50,2017-10-20 14:13:00,2017-10-20 15:09:33,5147,...,O,12,None,2019-07-17 14:47:50,1,M,45,64,B102378,0 days 00:56:33.000000000
8,3580,35965743,2017-11-13 00:00:00,79993,2060204280,1,2019-07-17 14:54:27,2017-11-13 13:29:00,2017-11-13 14:51:00,6272,...,O,14,None,2019-07-17 14:54:27,1,M,45,67,B102378,0 days 01:22:00.000000000
9,3580,37150620,2017-11-14 00:00:00,79993,2060205013,1,2019-07-17 14:55:06,2017-11-14 13:18:00,2017-11-14 13:36:32,6286,...,O,18,None,2019-07-17 14:55:06,1,M,45,21,B102378,0 days 00:18:32.000000000
10,3580,37340178,2017-11-16 00:00:00,79993,2060206323,1,2019-07-17 14:55:35,2017-11-16 13:14:00,2017-11-16 13:40:43,4289,...,O,50,None,2019-07-17 14:55:35,1,F,45,14,B102378,0 days 00:26:43.000000000
11,3580,51619264,2017-11-23 00:00:00,79993,2060210597,1,2019-07-17 14:57:51,2017-11-23 13:49:00,2017-11-23 14:13:55,5203,...,I,74,None,2019-07-17 14:57:51,1,F,45,61,B102378,0 days 00:24:55.000000000
12,3580,30846257,2017-11-30 00:00:00,77292,2060214534,1,2019-07-17 15:05:35,2017-11-30 12:44:00,2017-11-30 12:50:26,5332,...,E,1,None,2019-07-17 15:05:35,1,F,45,None,B102378,0 days 00:06:26.000000000
13,3580,22360157,2017-11-30 00:00:00,79993,2060214574,1,2019-07-17 15:05:37,2017-11-30 13:41:00,2017-11-30 14:13:03,4375,...,O,50,None,2019-07-17 15:05:37,1,F,45,42,B102378,0 days 00:32:03.000000000
14,3580,24143913,2017-12-06 00:00:00,79993,2060217808,1,2019-07-17 15:13:51,2017-12-06 12:53:00,2017-12-06 13:06:57,5891,...,E,1,None,2019-07-17 15:13:51,1,M,45,48,B102378,0 days 00:13:57.000000000
15,3580,42365040,2017-12-14 00:00:00,70022,2060222136,1,2019-07-17 15:25:01,2017-12-14 08:50:00,2017-12-14 09:01:36,176,...,O,76,None,2019-07-17 15:25:01,1,M,45,None,B102378,0 days 00:11:36.000000000
16,3580,51782990,2017-12-27 00:00:00,70018,2060229545,1,2019-07-17 15:43:52,2017-12-27 09:07:00,2017-12-27 09:27:38,176,...,O,76,None,2019-07-17 15:43:52,1,F,45,None,B102378,0 days 00:20:38.000000000
17,3580,51782990,2017-12-27 00:00:00,70022,2060229546,1,2019-07-17 15:43:52,2017-12-27 09:08:00,2017-12-27 09:21:28,176,...,O,76,None,2019-07-17 15:43:52,1,F,45,None,B102378,0 days 00:13:28.000000000
18,3580,27708649,2017-12-28 00:00:00,79995,2060230242,1,2019-07-17 15:45:22,2017-12-28 09:44:00,2017-12-28 10:08:22,6939,...,O,40,None,2019-07-17 15:45:22,1,F,45,55,B102378,0 days 00:24:22.000000000
19,3580,17578224,2017-12-28 00:00:00,79993,2060230304,1,2019-07-17 15:45:22,2017-12-28 10:31:00,2017-12-28 10:47:18,4192,...,I,20,None,2019-07-17 15:45:22,1,M,45,42,B102378,0 days 00:16:18.000000000
20,3580,39018466,2018-01-04 00:00:00,79993,2070002943,1,2019-07-17 15:55:06,2018-01-04 14:13:00,2018-01-04 14:40:58,5904,...,O,13,None,2019-07-17 15:55:06,1,F,45,48,B102378,0 days 00:27:58.000000000
21,3580,18789502,2018-01-05 00:00:00,70022,2070003249,1,2019-07-17 15:56:51,2018-01-05 09:01:00,2018-01-05 10:10:50,176,...,O,76,None,2019-07-17 15:56:51,1,F,45,None,B102378,0 days 01:09:50.000000000
22,3580,34617698,2018-01-05 00:00:00,79993,2070003683,1,2019-07-17 15:56:37,2018-01-05 14:07:00,2018-01-05 15:38:27,5893,...,I,18,None,2019-07-17 15:56:37,1,M,45,48,B102378,0 days 01:31:27.000000000
23,3580,32943095,2018-01-08 00:00:00,79993,2070004756,1,2019-07-17 16:01:01,2018-01-08 09:39:00,2018-01-08 10:25:49,6272,...,I,14,None,2019-07-17 16:01:01,1,F,45,67,B102378,0 days 00:46:49.000000000
24,3580,10335443,2018-01-09 00:00:00,79994,2070006493,1,2019-07-17 16:02:35,2018-01-09 13:54:00,2018-01-09 14:17:01,4044,...,O,15,None,2019-07-17 16:02:35,1,M,45,27,B102378,0 days 00:23:01.000000000
25,3580,29061825,2018-01-10 00:00:00,70018,2070006812,1,2019-07-17 16:03:54,2018-01-10 09:03:00,2018-01-10 09:25:49,176,...,O,76,None,2019-07-17 16:03:54,1,F,45,None,B102378,0 days 00:22:49.000000000
26,3580,29061825,2018-01-10 00:00:00,70022,2070006813,1,2019-07-17 16:03:54,2018-01-10 09:04:00,2018-01-10 09:21:23,176,...,O,76,None,2019-07-17 16:03:54,1,F,45,None,B102378,0 days 00:17:23.000000000
27,3580,52337105,2018-01-10 00:00:00,79993,2070007270,1,2019-07-17 16:03:49,2018-01-10 13:07:00,2018-01-10 13:31:30,6431,...,O,15,None,2019-07-17 16:03:49,1,M,45,21,B102378,0 days 00:24:30.000000000
28,3580,30368926,2018-01-12 00:00:00,79994,2070009063,1,2019-07-17 16:06:50,2018-01-12 16:08:00,2018-01-12 16:15:50,4306,...,O,53,None,2019-07-17 16:06:50,1,M,45,1,B102378,0 days 00:07:50.000000000
29,3580,51669349,2018-01-19 00:00:00,79993,2070014333,1,2019-07-17 16:16:59,2018-01-19 13:33:00,2018-01-19 14:07:02,5893,...,O,18,None,2019-07-17 16:16:59,1,M,45,27,B102378,0 days 00:34:02.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,1580,26422848,2019-05-04 00:00:00,79994,1080158013,1,2019-07-18 03:08:56,2019-05-04 11:49:00,2019-05-04 12:01:07,4191,...,O,20,None,2019-07-18 03:08:56,1,F,45,1.0,B103200,0 days 00:12:07.000000000
1296,1580,51501576,2019-05-07 00:00:00,79993,1080160679,1,2019-07-18 03:13:01,2019-05-07 09:44:00,2019-05-07 10:08:54,4238,...,O,50,None,2019-07-18 03:13:01,1,F,45,142.0,B103200,0 days 00:24:54.000000000
1297,1580,53389283,2019-05-07 00:00:00,79994,1080161430,1,2019-07-18 03:12:56,2019-05-07 14:56:00,2019-05-07 15:37:34,4102,...,O,20,None,2019-07-18 03:12:56,1,F,45,3.0,B103200,0 days 00:41:34.000000000
1298,1580,16445900,2019-05-10 00:00:00,79993,1080165228,1,2019-07-18 03:17:12,2019-05-10 09:24:00,2019-05-10 10:26:45,4357,...,O,54,None,2019-07-18 03:17:12,1,F,45,142.0,B103200,0 days 01:02:45.000000000
1299,1580,15118139,2019-05-10 00:00:00,79994,1080165431,1,2019-07-18 03:17:17,2019-05-10 10:27:00,2019-05-10 12:23:07,4087,...,O,15,None,2019-07-18 03:17:17,1,M,45,27.0,B103200,0 days 01:56:07.000000000
1300,1580,48103706,2019-05-13 00:00:00,79994,1080168896,1,2019-07-18 03:21:00,2019-05-13 13:24:00,2019-05-13 13:52:52,4159,...,O,20,None,2019-07-18 03:21:00,1,F,45,1.0,B103200,0 days 00:28:52.000000000
1301,1580,49667447,2019-05-13 00:00:00,79994,1080169385,1,2019-07-18 03:20:58,2019-05-13 16:21:00,2019-05-13 16:33:38,4243,...,O,68,None,2019-07-18 03:20:58,1,F,45,27.0,B103200,0 days 00:12:38.000000000
1302,1580,34843517,2019-05-15 00:00:00,79993,1080171449,1,2019-07-18 03:23:49,2019-05-15 08:59:00,2019-05-15 09:24:21,4616,...,O,71,None,2019-07-18 03:23:49,1,F,45,14.0,B103200,0 days 00:25:21.000000000
1303,1580,53378459,2019-05-15 00:00:00,79994,1080171990,1,2019-07-18 03:24:02,2019-05-15 12:40:00,2019-05-15 13:07:07,4136,...,O,20,None,2019-07-18 03:24:02,1,F,45,1.0,B103200,0 days 00:27:07.000000000
1304,1580,53378459,2019-05-15 00:00:00,70022,1080171998,1,2019-07-18 03:24:02,2019-05-15 12:43:00,2019-05-15 13:07:40,5978,...,O,75,None,2019-07-18 03:24:02,1,F,45,None,B103200,0 days 00:24:40.000000000
1305,1580,28196045,2019-05-16 00:00:00,79994,1080173219,1,2019-07-18 03:25:29,2019-05-16 09:47:00,2019-05-16 10:11:05,4009,...,O,15,None,2019-07-18 03:25:29,1,M,45,27.0,B103200,0 days 00:24:05.000000000
1306,1580,50906908,2019-05-17 00:00:00,79993,1080175590,1,2019-07-18 03:26:35,2019-05-17 14:13:00,2019-05-17 15:00:36,4357,...,O,54,None,2019-07-18 03:26:35,1,M,45,142.0,B103200,0 days 00:47:36.000000000
1307,1580,50969888,2019-05-21 00:00:00,79993,1080180301,1,2019-07-18 03:31:58,2019-05-21 13:42:00,2019-05-21 14:06:55,4294,...,O,54,None,2019-07-18 03:31:58,1,M,45,48.0,B103200,0 days 00:24:55.000000000
1308,1580,24085602,2019-05-22 00:00:00,79993,1080181342,1,2019-07-18 03:33:31,2019-05-22 09:43:00,2019-05-22 10:08:44,4764,...,O,92,None,2019-07-18 03:33:31,1,M,45,13.0,B103200,0 days 00:25:44.000000000
1309,1580,36442524,2019-05-22 00:00:00,79994,1080182114,1,2019-07-18 03:33:17,2019-05-22 14:34:00,2019-05-22 15:00:48,4009,...,O,15,None,2019-07-18 03:33:17,1,M,45,27.0,B103200,0 days 00:26:48.000000000
1310,1580,21140301,2019-05-24 00:00:00,79994,1080184699,1,2019-07-18 03:36:00,2019-05-24 10:10:00,2019-05-24 10:54:47,5416,...,O,73,None,2019-07-18 03:36:00,1,F,45,78.0,B103200,0 days 00:44:47.000000000
1311,1580,768995,2019-05-24 00:00:00,79994,1080185253,1,2019-07-18 03:36:21,2019-05-24 14:04:00,2019-05-24 14:15:15,5141,...,O,15,None,2019-07-18 03:36:21,1,M,45,27.0,B103200,0 days 00:11:15.000000000
1312,1580,23268763,2019-05-27 00:00:00,70022,1080187884,1,2019-07-18 03:39:58,2019-05-27 10:54:00,2019-05-27 12:09:19,4909,...,O,68,None,2019-07-18 03:39:58,1,F,45,None,B103200,0 days 01:15:19.000000000
1313,1580,35511137,2019-05-27 00:00:00,79993,1080188244,1,2019-07-18 03:39:56,2019-05-27 13:13:00,2019-05-27 14:30:47,4064,...,O,13,None,2019-07-18 03:39:56,1,F,45,41.0,B103200,0 days 01:17:47.000000000
1314,1580,25990888,2019-05-29 00:00:00,79993,1080190960,1,2019-07-18 03:42:42,2019-05-29 09:41:00,2019-05-29 10:09:44,5707,...,O,74,None,2019-07-18 03:42:42,1,F,45,21.0,B103200,0 days 00:28:44.000000000
1315,1580,37285285,2019-05-29 00:00:00,79993,1080191227,1,2019-07-18 03:42:38,2019-05-29 10:32:00,2019-05-29 11:13:33,4051,...,I,15,None,2019-07-18 03:42:38,1,M,45,1.0,B103200,0 days 00:41:33.000000000
1316,1580,46305402,2019-06-01 00:00:00,79993,1080196065,1,2019-07-18 03:46:53,2019-06-01 09:29:00,2019-06-01 10:06:52,4320,...,O,56,None,2019-07-18 03:46:53,1,M,45,48.0,B103200,0 days 00:37:52.000000000
1317,1580,15585458,2019-06-06 00:00:00,79993,1080203150,1,2019-07-18 03:53:25,2019-06-06 11:07:00,2019-06-06 12:02:33,4412,...,O,41,None,2019-07-18 03:53:25,1,F,45,55.0,B103200,0 days 00:55:33.000000000
1318,1580,48846955,2019-06-10 00:00:00,79994,1080207568,1,2019-07-18 03:58:24,2019-06-10 15:57:00,2019-06-10 16:20:48,4616,...,O,71,None,2019-07-18 03:58:24,1,M,45,6.0,B103200,0 days 00:23:48.000000000
1319,1580,35847845,2019-06-12 00:00:00,73026,1080210542,1,2019-07-18 04:00:38,2019-06-12 12:55:00,2019-06-12 12:58:07,5488,...,I,18,None,2019-07-18 04:00:38,1,F,45,None,B103200,0 days 00:03:07.000000000
1320,1580,32477827,2019-06-13 00:00:00,79994,1080212693,1,2019-07-18 04:01:19,2019-06-13 15:54:00,2019-06-13 16:33:33,5141,...,O,15,None,2019-07-18 04:01:19,1,M,45,27.0,B103200,0 days 00:39:33.000000000
1321,1580,42277109,2019-06-14 00:00:00,79994,1080214179,1,2019-07-18 04:01:35,2019-06-14 14:50:00,2019-06-14 15:12:05,9486,...,O,20,None,2019-07-18 04:01:35,1,M,45,1.0,B103200,0 days 00:22:05.000000000
1322,1580,53454799,2019-06-19 00:00:00,77252,1080221620,1,2019-07-18 04:03:18,2019-06-19 23:26:00,2019-06-19 23:29:02,5350,...,E,1,None,2019-07-18 04:03:18,1,M,45,None,B103200,0 days 00:03:02.000000000
1323,1580,35833599,2019-06-21 00:00:00,79995,1080224138,1,2019-07-18 04:03:51,2019-06-21 14:41:00,2019-06-21 14:59:05,5853,...,I,56,None,2019-07-18 04:03:51,1,M,45,142.0,B103200,0 days 00:18:05.000000000
1324,1580,26346706,2019-06-25 00:00:00,79994,1080228544,1,2019-07-18 04:05:02,2019-06-25 11:12:00,2019-06-25 11:53:20,4600,...,O,71,None,2019-07-18 04:05:02,1,M,45,6.0,B103200,0 days 00:41:20.000000000

### [TEST2] df_CT_test 和本機端的DF比較

In [44]:
df[df['AGE']==45]
#數量維持

,CSDP,PNO,CDATE,ITEM,SEQNO,SNO2,SCRN,BDATE,EDATE,ORDERDR,...,IO,DEPT,PRICE,UTIME,ITEM_CNT,SEX,AGE,POS,Tool,Target_time
22,3580,19287136,2017-10-03,70022,2060179741,1,2019-07-17 14:43:14,2017-10-03 08:53:00,2017-10-03 11:35:18,176,...,O,76,NaN,2019-07-17 14:43:14,1,F,45,NaN,B102378,02:42:18
31,3580,35937597,2017-10-03,70022,2060179851,1,2019-07-17 14:43:23,2017-10-03 10:01:00,2017-10-03 10:27:00,176,...,O,76,NaN,2019-07-17 14:43:23,1,M,45,NaN,B102378,00:26:00
51,3580,36384282,2017-10-05,79993,2060181104,1,2019-07-17 14:44:01,2017-10-05 12:58:00,2017-10-05 13:33:21,5953,...,O,26,NaN,2019-07-17 14:44:01,1,M,45,1,B102378,00:35:21
64,3580,35290788,2017-10-06,79994,2060181624,1,2019-07-17 14:44:14,2017-10-06 09:38:00,2017-10-06 10:24:02,5860,...,O,19,NaN,2019-07-17 14:44:14,1,M,45,27,B102378,00:46:02
107,3580,51755306,2017-10-09,79993,2060183270,1,2019-07-17 14:44:48,2017-10-09 13:02:00,2017-10-09 13:39:51,4296,...,O,56,NaN,2019-07-17 14:44:48,1,M,45,48,B102378,00:37:51
174,3580,30027299,2017-10-13,70008,2060185418,1,2019-07-17 14:46:09,2017-10-13 09:48:00,2017-10-13 10:29:00,5770,...,O,75,NaN,2019-07-17 14:46:09,1,M,45,NaN,B102378,00:41:00
175,3580,30027299,2017-10-13,70022,2060185423,1,2019-07-17 14:46:08,2017-10-13 09:50:00,2017-10-13 10:27:18,5770,...,O,75,NaN,2019-07-17 14:46:08,1,M,45,NaN,B102378,00:37:18
308,3580,19352413,2017-10-20,79993,2060189921,1,2019-07-17 14:47:50,2017-10-20 14:13:00,2017-10-20 15:09:33,5147,...,O,12,NaN,2019-07-17 14:47:50,1,M,45,64,B102378,00:56:33
667,3580,35965743,2017-11-13,79993,2060204280,1,2019-07-17 14:54:27,2017-11-13 13:29:00,2017-11-13 14:51:00,6272,...,O,14,NaN,2019-07-17 14:54:27,1,M,45,67,B102378,01:22:00
694,3580,37150620,2017-11-14,79993,2060205013,1,2019-07-17 14:55:06,2017-11-14 13:18:00,2017-11-14 13:36:32,6286,...,O,18,NaN,2019-07-17 14:55:06,1,M,45,21,B102378,00:18:32
750,3580,37340178,2017-11-16,79993,2060206323,1,2019-07-17 14:55:35,2017-11-16 13:14:00,2017-11-16 13:40:43,4289,...,O,50,NaN,2019-07-17 14:55:35,1,F,45,14,B102378,00:26:43
869,3580,51619264,2017-11-23,79993,2060210597,1,2019-07-17 14:57:51,2017-11-23 13:49:00,2017-11-23 14:13:55,5203,...,I,74,NaN,2019-07-17 14:57:51,1,F,45,61,B102378,00:24:55
983,3580,30846257,2017-11-30,77292,2060214534,1,2019-07-17 15:05:35,2017-11-30 12:44:00,2017-11-30 12:50:26,5332,...,E,1,NaN,2019-07-17 15:05:35,1,F,45,NaN,B102378,00:06:26
990,3580,22360157,2017-11-30,79993,2060214574,1,2019-07-17 15:05:37,2017-11-30 13:41:00,2017-11-30 14:13:03,4375,...,O,50,NaN,2019-07-17 15:05:37,1,F,45,42,B102378,00:32:03
1085,3580,24143913,2017-12-06,79993,2060217808,1,2019-07-17 15:13:51,2017-12-06 12:53:00,2017-12-06 13:06:57,5891,...,E,1,NaN,2019-07-17 15:13:51,1,M,45,48,B102378,00:13:57
1232,3580,42365040,2017-12-14,70022,2060222136,1,2019-07-17 15:25:01,2017-12-14 08:50:00,2017-12-14 09:01:36,176,...,O,76,NaN,2019-07-17 15:25:01,1,M,45,NaN,B102378,00:11:36
1476,3580,51782990,2017-12-27,70018,2060229545,1,2019-07-17 15:43:52,2017-12-27 09:07:00,2017-12-27 09:27:38,176,...,O,76,NaN,2019-07-17 15:43:52,1,F,45,NaN,B102378,00:20:38
1477,3580,51782990,2017-12-27,70022,2060229546,1,2019-07-17 15:43:52,2017-12-27 09:08:00,2017-12-27 09:21:28,176,...,O,76,NaN,2019-07-17 15:43:52,1,F,45,NaN,B102378,00:13:28
1491,3580,27708649,2017-12-28,79995,2060230242,1,2019-07-17 15:45:22,2017-12-28 09:44:00,2017-12-28 10:08:22,6939,...,O,40,NaN,2019-07-17 15:45:22,1,F,45,55,B102378,00:24:22
1493,3580,17578224,2017-12-28,79993,2060230304,1,2019-07-17 15:45:22,2017-12-28 10:31:00,2017-12-28 10:47:18,4192,...,I,20,NaN,2019-07-17 15:45:22,1,M,45,42,B102378,00:16:18
1593,3580,39018466,2018-01-04,79993,2070002943,1,2019-07-17 15:55:06,2018-01-04 14:13:00,2018-01-04 14:40:58,5904,...,O,13,NaN,2019-07-17 15:55:06,1,F,45,48,B102378,00:27:58
1601,3580,18789502,2018-01-05,70022,2070003249,1,2019-07-17 15:56:51,2018-01-05 09:01:00,2018-01-05 10:10:50,176,...,O,76,NaN,2019-07-17 15:56:51,1,F,45,NaN,B102378,01:09:50
1621,3580,34617698,2018-01-05,79993,2070003683,1,2019-07-17 15:56:37,2018-01-05 14:07:00,2018-01-05 15:38:27,5893,...,I,18,NaN,2019-07-17 15:56:37,1,M,45,48,B102378,01:31:27
1643,3580,32943095,2018-01-08,79993,2070004756,1,2019-07-17 16:01:01,2018-01-08 09:39:00,2018-01-08 10:25:49,6272,...,I,14,NaN,2019-07-17 16:01:01,1,F,45,67,B102378,00:46:49
1673,3580,10335443,2018-01-09,79994,2070006493,1,2019-07-17 16:02:35,2018-01-09 13:54:00,2018-01-09 14:17:01,4044,...,O,15,NaN,2019-07-17 16:02:35,1,M,45,27,B102378,00:23:01
1684,3580,29061825,2018-01-10,70018,2070006812,1,2019-07-17 16:03:54,2018-01-10 09:03:00,2018-01-10 09:25:49,176,...,O,76,NaN,2019-07-17 16:03:54,1,F,45,NaN,B102378,00:22:49
1685,3580,29061825,2018-01-10,70022,2070006813,1,2019-07-17 16:03:54,2018-01-10 09:04:00,2018-01-10 09:21:23,176,...,O,76,NaN,2019-07-17 16:03:54,1,F,45,NaN,B102378,00:17:23
1697,3580,52337105,2018-01-10,79993,2070007270,1,2019-07-17 16:03:49,2018-01-10 13:07:00,2018-01-10 13:31:30,6431,...,O,15,NaN,2019-07-17 16:03:49,1,M,45,21,B102378,00:24:30
1751,3580,30368926,2018-01-12,79994,2070009063,1,2019-07-17 16:06:50,2018-01-12 16:08:00,2018-01-12 16:15:50,4306,...,O,53,NaN,2019-07-17 16:06:50,1,M,45,1,B102378,00:07:50
1880,3580,51669349,2018-01-19,79993,2070014333,1,2019-07-17 16:16:59,2018-01-19 13:33:00,2018-01-19 14:07:02,5893,...,O,18,NaN,2019-07-17 16:16:59,1,M,45,27,B102378,00:34:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94980,1580,26422848,2019-05-04,79994,1080158013,1,2019-07-18 03:08:56,2019-05-04 11:49:00,2019-05-04 12:01:07,4191,...,O,20,NaN,2019-07-18 03:08:56,1,F,45,1,B103200,00:12:07
95033,1580,51501576,2019-05-07,79993,1080160679,1,2019-07-18 03:13:01,2019-05-07 09:44:00,2019-05-07 10:08:54,4238,...,O,50,NaN,2019-07-18 03:13:01,1,F,45,142,B103200,00:24:54
95061,1580,53389283,2019-05-07,79994,1080161430,1,2019-07-18 03:12:56,2019-05-07 14:56:00,2019-05-07 15:37:34,4102,...,O,20,NaN,2019-07-18 03:12:56,1,F,45,3,B103200,00:41:34
95158,1580,16445900,2019-05-10,79993,1080165228,1,2019-07-18 03:17:12,2019-05-10 09:24:00,2019-05-10 10:26:45,4357,...,O,54,NaN,2019-07-18 03:17:12,1,F,45,142,B103200,01:02:45
95173,1580,15118139,2019-05-10,79994,1080165431,1,2019-07-18 03:17:17,2019-05-10 10:27:00,2019-05-10 12:23:07,4087,...,O,15,NaN,2019-07-18 03:17:17,1,M,45,27,B103200,01:56:07
95265,1580,48103706,2019-05-13,79994,1080168896,1,2019-07-18 03:21:00,2019-05-13 13:24:00,2019-05-13 13:52:52,4159,...,O,20,NaN,2019-07-18 03:21:00,1,F,45,1,B103200,00:28:52
95283,1580,49667447,2019-05-13,79994,1080169385,1,2019-07-18 03:20:58,2019-05-13 16:21:00,2019-05-13 16:33:38,4243,...,O,68,NaN,2019-07-18 03:20:58,1,F,45,27,B103200,00:12:38
95336,1580,34843517,2019-05-15,79993,1080171449,1,2019-07-18 03:23:49,2019-05-15 08:59:00,2019-05-15 09:24:21,4616,...,O,71,NaN,2019-07-18 03:23:49,1,F,45,14,B103200,00:25:21
95362,1580,53378459,2019-05-15,79994,1080171990,1,2019-07-18 03:24:02,2019-05-15 12:40:00,2019-05-15 13:07:07,4136,...,O,20,NaN,2019-07-18 03:24:02,1,F,45,1,B103200,00:27:07
95363,1580,53378459,2019-05-15,70022,1080171998,1,2019-07-18 03:24:02,2019-05-15 12:43:00,2019-05-15 13:07:40,5978,...,O,75,NaN,2019-07-18 03:24:02,1,F,45,NaN,B103200,00:24:40
95398,1580,28196045,2019-05-16,79994,1080173219,1,2019-07-18 03:25:29,2019-05-16 09:47:00,2019-05-16 10:11:05,4009,...,O,15,NaN,2019-07-18 03:25:29,1,M,45,27,B103200,00:24:05
95476,1580,50906908,2019-05-17,79993,1080175590,1,2019-07-18 03:26:35,2019-05-17 14:13:00,2019-05-17 15:00:36,4357,...,O,54,NaN,2019-07-18 03:26:35,1,M,45,142,B103200,00:47:36
95578,1580,50969888,2019-05-21,79993,1080180301,1,2019-07-18 03:31:58,2019-05-21 13:42:00,2019-05-21 14:06:55,4294,...,O,54,NaN,2019-07-18 03:31:58,1,M,45,48,B103200,00:24:55
95612,1580,24085602,2019-05-22,79993,1080181342,1,2019-07-18 03:33:31,2019-05-22 09:43:00,2019-05-22 10:08:44,4764,...,O,92,NaN,2019-07-18 03:33:31,1,M,45,13,B103200,00:25:44
95639,1580,36442524,2019-05-22,79994,1080182114,1,2019-07-18 03:33:17,2019-05-22 14:34:00,2019-05-22 15:00:48,4009,...,O,15,NaN,2019-07-18 03:33:17,1,M,45,27,B103200,00:26:48
95713,1580,21140301,2019-05-24,79994,1080184699,1,2019-07-18 03:36:00,2019-05-24 10:10:00,2019-05-24 10:54:47,5416,...,O,73,NaN,2019-07-18 03:36:00,1,F,45,78,B103200,00:44:47
95730,1580,768995,2019-05-24,79994,1080185253,1,2019-07-18 03:36:21,2019-05-24 14:04:00,2019-05-24 14:15:15,5141,...,O,15,NaN,2019-07-18 03:36:21,1,M,45,27,B103200,00:11:15
95787,1580,23268763,2019-05-27,70022,1080187884,1,2019-07-18 03:39:58,2019-05-27 10:54:00,2019-05-27 12:09:19,4909,...,O,68,NaN,2019-07-18 03:39:58,1,F,45,NaN,B103200,01:15:19
95796,1580,35511137,2019-05-27,79993,1080188244,1,2019-07-18 03:39:56,2019-05-27 13:13:00,2019-05-27 14:30:47,4064,...,O,13,NaN,2019-07-18 03:39:56,1,F,45,41,B103200,01:17:47
95871,1580,25990888,2019-05-29,79993,1080190960,1,2019-07-18 03:42:42,2019-05-29 09:41:00,2019-05-29 10:09:44,5707,...,O,74,NaN,2019-07-18 03:42:42,1,F,45,21,B103200,00:28:44
95878,1580,37285285,2019-05-29,79993,1080191227,1,2019-07-18 03:42:38,2019-05-29 10:32:00,2019-05-29 11:13:33,4051,...,I,15,NaN,2019-07-18 03:42:38,1,M,45,1,B103200,00:41:33
96014,1580,46305402,2019-06-01,79993,1080196065,1,2019-07-18 03:46:53,2019-06-01 09:29:00,2019-06-01 10:06:52,4320,...,O,56,NaN,2019-07-18 03:46:53,1,M,45,48,B103200,00:37:52
96213,1580,15585458,2019-06-06,79993,1080203150,1,2019-07-18 03:53:25,2019-06-06 11:07:00,2019-06-06 12:02:33,4412,...,O,41,NaN,2019-07-18 03:53:25,1,F,45,55,B103200,00:55:33
96307,1580,48846955,2019-06-10,79994,1080207568,1,2019-07-18 03:58:24,2019-06-10 15:57:00,2019-06-10 16:20:48,4616,...,O,71,NaN,2019-07-18 03:58:24,1,M,45,6,B103200,00:23:48
96392,1580,35847845,2019-06-12,73026,1080210542,1,2019-07-18 04:00:38,2019-06-12 12:55:00,2019-06-12 12:58:07,5488,...,I,18,NaN,2019-07-18 04:00:38,1,F,45,NaN,B103200,00:03:07
96470,1580,32477827,2019-06-13,79994,1080212693,1,2019-07-18 04:01:19,2019-06-13 15:54:00,2019-06-13 16:33:33,5141,...,O,15,NaN,2019-07-18 04:01:19,1,M,45,27,B103200,00:39:33
96504,1580,42277109,2019-06-14,79994,1080214179,1,2019-07-18 04:01:35,2019-06-14 14:50:00,2019-06-14 15:12:05,9486,...,O,20,NaN,2019-07-18 04:01:35,1,M,45,1,B103200,00:22:05
96683,1580,53454799,2019-06-19,77252,1080221620,1,2019-07-18 04:03:18,2019-06-19 23:26:00,2019-06-19 23:29:02,5350,...,E,1,NaN,2019-07-18 04:03:18,1,M,45,NaN,B103200,00:03:02
96770,1580,35833599,2019-06-21,79995,1080224138,1,2019-07-18 04:03:51,2019-06-21 14:41:00,2019-06-21 14:59:05,5853,...,I,56,NaN,2019-07-18 04:03:51,1,M,45,142,B103200,00:18:05
96883,1580,26346706,2019-06-25,79994,1080228544,1,2019-07-18 04:05:02,2019-06-25 11:12:00,2019-06-25 11:53:20,4600,...,O,71,NaN,2019-07-18 04:05:02,1,M,45,6,B103200,00:41:20